* {
  padding: 0%;
  margin: 0%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  
}
.row {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 405px;
}
button.clear{
  flex-grow: 2.4;
}
button.arrow {
 flex-shrink: .4;
}
button.divide {
  color: white;
  background-color: orange;
  flex-grow: 1.1;
}
button.times {
  color: white;
  background-color: orange;
  flex-grow: 1
}
button.minus {
  color: white;
  background-color: orange;
  flex-grow: 1
}
button.plus {
  color: white;
  background-color: orange;
  flex-grow: 1;
}
button.equals {
  color: white;
  background-color: orange;
  flex-grow: 1;
}
button.zero {
  flex-grow: 3.4
}
button {
  font-size: 20px;
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
  height: 50px;
  border: 2px solid black;

}
input {
  width: 400px;
  height: 50px;
  background-color: black;
  color: black
}
